v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '100%' }" )
  v-card.my-3( height="100%" elevation="12" )
    v-card-title 題目列表
    v-container( fluid )
      v-row( no-gutters align="center" )
        v-col.pa-1( cols="12" md="4" )
          v-select.mx-1( 
            v-model="course"
            label="選擇課程" 
            outlined 
            hide-details 
            :items="courses" 
          )
        v-col.pa-1( cols="12" md="4" )
          v-select.mx-1(
            v-model="selectedTags" 
            label="選擇分類" 
            outlined 
            hide-details 
            :items="tags" 
            multiple 
          )
        v-col.pa-1( cols="12" md="4" )
          v-text-field.mx-1(
            v-model="search"
            label="快速搜尋"
            outlined
            hide-details
            append-icon="mdi-magnify"
            single-line
          )

    v-data-table(
      :headers="headers"
      :items="problems"
      :search="search"
      :items-per-page="Number(-1)"
      hide-default-footer
    )
      template( v-slot:item.pid="{ item }" )
        .subtitle-1 {{ item.pid }}
      template( v-slot:item.title="{ item }" )
        a.subtitle-1( :href="`/problem/${item.pid}`" ) {{ item.title }}
      template( v-slot:item.tags="{ item }" )
        v-chip.mr-1( v-for="tag in item.tags" :key="tag" label small ) {{ tag }}
      template( v-slot:item.timestamp="{ item }" )
        .subtitle-1 {{ timeFormat(item.timestamp).substring(0,10) }}
      template( v-slot:item.author.displayedName="{ item }" )
        .subtitle-1 {{ item.author.displayedName }}
