v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '110%' }" v-if="problem" )
  v-card.mt-3( elevation="12" )
    v-card-subtitle
      v-icon.mr-1( small ) mdi-clock
      | {{ timeFormat(problem.timestamp).substring(0,10) }}
      v-icon.mr-1.ml-3( small ) mdi-account
      | {{ problem.author.displayedName }}
      v-icon.mr-1.ml-3( small ) mdi-comment
      | {{ problem.numberOfComment }}
    v-card-title.headline {{ problem.pid + ' - ' + problem.title }}
    v-card-subtitle.mt-3( v-for="tag in problem.tags" :key="tag" ) 分類：
        v-chip( label small ) {{ tag }}
    v-divider
    editor-content.editor__content( :editor="editor" style="border: 0" )
    v-divider
    v-card-text.text--primary
      v-row( no-gutters )
        h3.mr-6 附件資料
        v-menu( offset-y )
          template( v-slot:activator="{ on }" ) 
            v-btn.text-none( outlined v-on="on" small )
              | {{ browsing }}
              v-icon mdi-chevron-down
          v-list
            v-list-item( v-for="atta in problem.attachments" :key="atta" @click="browsing = atta" )
              v-list-item-title {{ atta }}
        v-btn.ml-6( v-if="browsing!='請選擇'" color="info" small @click="download" :loading="downloading" )
          v-icon mdi-file-download
          | 下載
      v-row.mb-3( no-gutters style="white-space: pre-line" v-if="preview != ''" )
        h3.mr-6 附件預覽
        | {{ preview }}

  v-row.mt-6( no-gutters )
    v-spacer
    v-col( cols="12" md="4" sm="6" )
      v-select( v-model="sortingValue" solo :items="sorting" item-text="title" item-value="value" width="50%" )

  div( v-for="(comment, idx) in problem.comments" :key="idx" v-if="typeof(comment) != 'string'" )
    //- comment
    div( :id="`${comment.floor}F`" style="padding: 30px 0;" )
    v-card.anchor( v-if="comment.id != editingComment" elevation="12" )
      span.anchor
        a.float-icon( :href="`#${comment.floor}F`" style="text-decoration: none;" )
          v-icon( style="transform: rotate(0.125turn);" ) mdi-link-variant
      v-card-title {{ comment.title }}
        v-spacer
        div.subtitle-2( v-if="comment.updated - comment.created >= 1" style="color: grey;" ) (已編輯)
        v-menu( offset-x )
          template( v-slot:activator="{ on }" )
            v-btn.mr-3( icon v-on="on" v-if="perm(comment.author.username) < 2" )
              v-icon mdi-dots-horizontal
          v-list
            v-list-item( v-for="(item, i) in menu.slice(perm(comment.author.username))" :key="item" @click="menuTouch(item, 'comment', comment.id, comment)" )
              v-list-item-title {{ item }}
        div.subtitle-2 {{ timeFormat(comment.created) }}
      v-card-subtitle.text--primary {{ (comment.floor) + ' 樓' }}
        v-icon mdi-account
        | {{ comment.author.displayedName }}
      v-card-text.pl-0.pb-0
        v-tabs( vertical )
          v-tab( v-for="item in lists" :key="item.title" )
            v-icon( left ) {{ item.icon }}
            | {{ item.title }}
          v-tab-item( v-for="item in lists" :key="item.key" )
            v-card( flat style="background: #e7e7e7" )
              div( v-if="item.key == 'content'" )
                v-card-text
                  v-expand-transition
                    div.text--primary( style="white-space: pre-line" ) {{ comment[item.key] }}
              div( v-else )
                v-card-text.codeblock
                  v-expand-transition
                    div( v-if="item.key == 'result'" )
                      Result( :stderr="comment.submission.stderr" :stdout="comment.submission.stdout" :files="comment.submission.files" 
                              @reget="reGet(comment.id, idx)" @rejudge="reJudge(comment.id, idx)" :cid="comment.id" :perm="perm(comment.author.username) < 2" )
                    div( v-else-if="item.key == 'code'" style="white-space: pre-line" )
                      v-btn.copy-code( :id="`btn-copy-${idx}`" :data-clipboard-target="`#copy-${idx}`" color="grey" icon small )
                        v-icon mdi-content-copy
                      pre( v-highlightjs="comment.submission.code" )
                        code.python( ref="copy-${idx}" :id="`copy-${idx}`" style="font-size: 14px;" )
      v-card-actions
        v-row( no-gutters )
          v-btn.text-none( color="primary" text @click="addReply(comment.id)" ) → Reply
          v-spacer
          v-btn.ml-3( icon @click="likeComment(comment.id, idx)" )
            v-icon( :color="likeColor(comment.liked, username)" ) mdi-heart
          div.mt-1.mr-3 {{ '(' + comment.liked.length + ')' }}
    //- editing comment
    v-card( v-else elevation="12" ) 
      v-card-title
        v-text-field( placeholder="留言標題..." outlined dense hide-details v-model="editComment.title" )
        v-row( no-gutters )
          v-spacer
          div.subtitle-2 2020-03-27 12:35
      v-card-subtitle.text--primary {{ (comment.floor) + ' 樓' }}
        v-icon mdi-account
        | {{ comment.author.displayedName }}
      v-card-text.pl-0.pb-0
        v-tabs( vertical )
          v-tab( v-for="item in lists.slice(0,2)" :key="item.title" )
            v-icon( left ) {{ item.icon }}
            | {{ item.title }}
          v-tab-item( v-for="item in lists" :key="item.key" )
            v-expand-transition
              v-textarea.pl-4( :placeholder="item.label" outlined auto-grow v-model="editComment[`${item.key}`]" )
      v-card-actions
        v-row( no-gutters )
          v-spacer
          v-btn( text @click="editingComment = null;" ) 取消
          v-btn.mx-3( color="primary" tile depressed :disabled="editComment.title === '' || editComment.content === ''" @click="editingComment = null; update(comment.id, editComment, -1)" ) 更新

    //- New Reply input
    v-card.my-3( v-if="comment.id == newingReply" style="margin-left: 10%;" elevation="2" )
      v-card-subtitle.pb-0.text--primary
        v-row( no-gutters )
          v-icon mdi-account
          | {{ displayName }}
          v-spacer
      v-card-text.py-0
        v-textarea.pt-0( v-model="newReply.content" ref="replyTextarea" single-line rows="1" auto-grow label="新增一個回覆..." hide-details )
      v-card-actions
        v-row( no-gutters )
          v-spacer
          v-btn( text @click="newingReply = null;" ) 取消
          v-btn.mx-3( color="primary" tile depressed :disabled="newReply.content === ''" @click="newingReply = null; add(newReply, idx)" ) 回覆

    //- Toggle button for show/hide replies
    v-card.my-3( style="margin-left: 10%;" elevation="0" color="transparent" v-if="comment.replies && comment.numberOfReply > 0" )
      v-btn.subtitle-1( text color="primary" @click="switchShowReply(idx)" )
        v-icon.mr-1 {{ replyLabels[comment.showReplies].icon }}
        | {{ replyLabels[comment.showReplies].text + ` ${comment.numberOfReply} ` + '則回覆' }}

    //- show all replies
    div( v-for="(reply, replyIdx) in comment.replies" :key="replyIdx" v-if="typeof(reply) != 'string'" )
      div( v-show="comment.showReplies" )
        v-card.my-3( style="margin-left: 10%;" elevation="2" v-if="reply.id != editingReply" )
          v-card-subtitle.text--primary
            v-row( no-gutters align="center" )
              v-icon mdi-account
              | {{ reply.author.displayedName }}
              v-spacer
              div.subtitle-2( v-if="reply.updated - reply.created >= 1" style="color: grey;" ) (已編輯)
              v-menu( offset-x )
                template( v-slot:activator="{ on }" )
                  v-btn.mr-3( icon v-on="on" v-if="perm(reply.author.username) >= 0" )
                    v-icon mdi-dots-horizontal
                v-list
                  v-list-item( v-for="(item, i) in menu.slice(perm(reply.author.username))" :key="item" @click="menuTouch(item, 'reply', reply.id, reply)" )
                    v-list-item-title {{ item }}
              div {{ timeFormat(reply.created) }}
          v-card-text
            v-card( flat style="background: #e7e7e7" )
              v-card-text
                div.text--primary( style="white-space: pre-line" ) {{ reply.content }}
        //- editing reply
        v-card.my-3( v-else style="margin-left: 10%;" elevation="2" )
          v-card-subtitle.pb-0.text--primary
            v-row( no-gutters )
              v-icon mdi-account
              | {{ displayName }}
              v-spacer
          v-card-text.py-0
            v-textarea.pt-0( v-model="editReply.content" ref="replyTextarea" single-line rows="1" auto-grow hide-details )
          v-card-actions
            v-row( no-gutters )
              v-spacer
              v-btn( text @click="editingReply = null" ) 取消
              v-btn.mx-3( color="primary" tile depressed :disabled="editReply.content === ''" @click="editingReply = null; update(reply.id, editReply, idx)" ) 更新回覆

  //- New Comment Input
  v-divider( style="margin-top: 10%; margin-bottom: 5%" )
  v-card( elevation="12" )
    v-card-title.subtitle-1
      v-row( no-gutters align="center" )
        | {{ '新增留言：　' }}
        v-text-field( placeholder="留言標題..." outlined dense hide-details v-model="newComment.title" )
    v-card-text.pl-0.pb-0
      v-tabs( vertical )
        v-tab( v-for="item in lists.slice(0,2)" :key="item.title" )
          v-icon( left ) {{ item.icon }}
          | {{ item.title }}
        v-tab-item( v-for="item in lists" :key="item.key" )
          v-expand-transition
            v-textarea.pl-4( :placeholder="item.label" outlined auto-grow v-model="newComment[`${item.key}`]" )
    v-card-actions
      v-row( no-gutters )
        v-spacer
        v-btn.mx-3( color="primary" tile depressed :disabled="newComment.title === '' || newComment.content === ''" @click="add(newComment, -1)" :loading="newCommentLoading" ) 留言

  v-snackbar.subtitle-1( v-model="snackbar" :color="alert.color" )
    | {{ alert.msg }}
    v-btn( icon @click="snackbar = false" color="white" )
      v-icon mdi-close-circle

  v-btn.mb-12( small fab dark fixed bottom left color="primary" @click="toTop" )
    v-icon mdi-arrow-up
  v-btn.mt-12( small fab dark fixed bottom left color="primary" @click="toBottom" )
    v-icon mdi-arrow-down
