v-container( :style="{ width: $vuetify.breakpoint.mdAndUp ? '70vw' : '95vw', height: '150%' }" v-if="problem" )
  v-card.mt-3( elevation="12" )
    v-card-subtitle
      v-icon.mr-1( small ) mdi-clock
      | {{ timeFormat(problem.timestamp).substring(0,10) }}
      v-icon.mr-1.ml-3( small ) mdi-account
      | {{ problem.author.displayedName }}
      v-icon.mr-1.ml-3( small ) mdi-comment
      | {{ problem.comments.length }}
    v-card-title.headline {{ problem.pid + ' - ' + problem.title }}
    v-card-subtitle.mt-3( v-for="tag in problem.tags" :key="tag" ) 分類：
        v-chip( label small ) {{ tag }}
    v-divider
    editor-content.editor__content( :editor="editor" style="border: 0" )
    v-divider
    v-card-text.text--primary
      v-row.mb-3( no-gutters )
        h3.mr-6 附件資料
        v-menu( offset-y )
          template( v-slot:activator="{ on }" ) 
            v-btn.text-none( outlined v-on="on" small )
              | {{ browsing }}
              v-icon mdi-chevron-down
          v-list
            v-list-item( v-for="atta in problem.attachments" :key="atta" @click="browsing = atta" )
              v-list-item-title {{ atta }}
        v-btn.ml-6( v-if="browsing!='請選擇'" color="info" small @click="download" )
          v-icon mdi-file-download
          | 下載

  div( v-for="(comment, idx) in problem.comments" :key="idx" )
    //- comment
    div( :id="`${idx+1}F`" style="padding: 30px 0;" )
    v-card.anchor( v-if="typeof(comment) != 'string' && comment.id != editingComment" elevation="12" )
      span.anchor
        a.float-icon( :href="`#${idx+1}F`" style="text-decoration: none;" )
          v-icon( style="transform: rotate(0.125turn);" ) mdi-link-variant
      v-card-title {{ (comment.status==0 ? '(已刪除)' : '') + comment.title }}
        v-spacer
        div.subtitle-2( v-if="comment.created != comment.updated" style="color: grey;" ) (已編輯)
        v-menu( offset-x v-if="comment.status != 0" )
          template( v-slot:activator="{ on }" )
            v-btn.mr-3( icon v-on="on" v-if="perm(comment.author.username) < 2" )
              v-icon mdi-dots-horizontal
          v-list
            v-list-item( v-for="(item, i) in menu.slice(perm(comment.author.username))" :key="item" @click="menuTouch(item, 'comment', comment.id, comment)" )
              v-list-item-title {{ item }}
        div.subtitle-2 {{ timeFormat(comment.created) }}
      v-card-subtitle.text--primary {{ (idx+1) + ' 樓' }}
        v-icon mdi-account
        | {{ comment.author.displayedName }}
      v-card-text.pl-0.pb-0
        v-tabs( vertical )
          v-tab( v-for="item in lists" :key="item.title" )
            v-icon( left ) {{ item.icon }}
            | {{ item.title }}
          v-tab-item( v-for="item in lists" :key="item.key" )
            v-card( flat style="background: #e7e7e7" )
              v-card-text
                v-expand-transition
                  div( v-if="item.key == 'result'" )
                    Result( stderr="fake err" stdout="fake out" :files="[]")
                    //- Result( :stderr="comment.submission.stderr" :stdout="comment.submission.stdout" :files="comment.submission.files" )
                  div.text--primary( v-else-if="item.key == 'code'" style="white-space: pre-line" ) {{ comment.submission.code }}
                  div.text--primary( v-else style="white-space: pre-line" ) {{ comment[item.key] }}
      v-card-actions
        v-row( no-gutters )
          v-btn.text-none( color="primary" text @click="addReply(comment.id)" ) → Reply
          v-spacer
          v-btn.ml-3( icon @click="likeComment(comment.id)" )
            v-icon( :color="likeColor(comment.liked, username)" ) mdi-heart
          div.mt-1.mr-3 {{ comment.liked.length }}
    //- editing comment
    v-card( v-else-if="comment != '' && typeof(comment) != 'string'" elevation="12" ) 
      v-card-title
        v-text-field( placeholder="留言標題..." outlined dense hide-details v-model="editComment.title" )
        v-row( no-gutters )
          v-spacer
          div.subtitle-2 2020-03-27 12:35
      v-card-subtitle.text--primary {{ (idx+1) + ' 樓' }}
        v-icon mdi-account
        | {{ comment.author.displayedName }}
      v-card-text.pl-0.pb-0
        v-tabs( vertical )
          v-tab( v-for="item in lists.slice(0,2)" :key="item.title" )
            v-icon( left ) {{ item.icon }}
            | {{ item.title }}
          v-tab-item( v-for="item in lists" :key="item.key" )
            v-expand-transition
              v-textarea.pl-4( :placeholder="item.label" outlined auto-grow v-model="editComment[`${item.key}`]" )
      v-card-actions
        v-row( no-gutters )
          v-spacer
          v-btn( text @click="editingComment = null;" ) 取消
          v-btn.mx-3( color="primary" tile depressed :disabled="editComment.title === '' || editComment.content === ''" @click="update(comment.id, editComment, -1)" ) 更新
    //- deleted comment
    v-card( v-else elevation="12")
      v-card-subtitle {{ (idx+1) + '樓 此留言已刪除' }}

    //- New Reply input
    v-card.my-3( v-if="comment.id == newingReply" style="margin-left: 10%;" elevation="2" )
      v-card-subtitle.pb-0.text--primary
        v-row( no-gutters )
          v-icon mdi-account
          | {{ displayName }}
          v-spacer
      v-card-text.py-0
        v-textarea.pt-0( v-model="newReply.content" ref="replyTextarea" single-line rows="1" auto-grow label="新增一個回覆..." hide-details )
      v-card-actions
        v-row( no-gutters )
          v-spacer
          v-btn( text @click="newingReply = null;" ) 取消
          v-btn.mx-3( color="primary" tile depressed :disabled="newReply.content === ''" @click="newingReply = null; add(newReply, idx)" ) 回覆

    //- Toggle button for show/hide replies
    v-card.my-3( style="margin-left: 10%;" elevation="0" color="transparent" v-if="comment.replies" )
      v-btn.subtitle-1( text color="primary" @click="switchShowReply(idx)" )
        div( v-if="comment.replies.length > 0" ) 
          v-icon.mr-1 {{ replyLabels[isReplyShowed[idx]].icon }}
          | {{ replyLabels[isReplyShowed[idx]].text + ` ${comment.replies.length} ` + '則回覆' }}

    //- show all replies
    div( v-show="isReplyShowed[idx]" )
      div( v-for="(reply, replyIdx) in comment.replies" :key="replyIdx" )
        v-card.my-3( style="margin-left: 10%;" elevation="2" v-if="reply.id != editingReply" )
          v-card-subtitle.text--primary
            v-row( no-gutters align="center" )
              v-icon mdi-account
              | {{ reply.author.displayedName }}
              v-spacer
              div.subtitle-2( v-if="reply.status == 0" style="color: grey;" ) (已刪除)
              v-spacer
              div.subtitle-2( v-if="reply.created != reply.updated" style="color: grey;" ) (已編輯)
              v-menu( offset-x v-if="reply.status != 0" )
                template( v-slot:activator="{ on }" )
                  v-btn.mr-3( icon v-on="on" v-if="perm(reply.author.username) >= 0" )
                    v-icon mdi-dots-horizontal
                v-list
                  v-list-item( v-for="(item, i) in menu.slice(perm(reply.author.username))" :key="item" @click="menuTouch(item, 'reply', reply.id, reply)" )
                    v-list-item-title {{ item }}
              div {{ timeFormat(reply.created) }}
          v-card-text
            v-card( flat style="background: #e7e7e7" )
              v-card-text
                div.text--primary( style="white-space: pre-line" ) {{ reply.content }}
        v-card.my-3( v-else-if="reply != ''" style="margin-left: 10%;" elevation="2" )
          v-card-subtitle.pb-0.text--primary
            v-row( no-gutters )
              v-icon mdi-account
              | {{ displayName }}
              v-spacer
          v-card-text.py-0
            v-textarea.pt-0( v-model="editReply.content" ref="replyTextarea" single-line rows="1" auto-grow hide-details )
          v-card-actions
            v-row( no-gutters )
              v-spacer
              v-btn( text @click="editingReply = null" ) 取消
              v-btn.mx-3( color="primary" tile depressed :disabled="editReply.content === ''" @click="editingReply = null; update(reply.id, editReply, idx)" ) 更新回覆
        //- deleted reply
        v-card( v-else style="margin-left: 10%;" elevation="2")
          v-card-subtitle {{ '此回覆已刪除' }}

  //- New Comment Input
  v-divider( style="margin-top: 10%; margin-bottom: 5%" )
  v-card( elevation="12" )
    v-card-title.subtitle-1
      v-row( no-gutters align="center" )
        | {{ '新增留言：　' }}
        v-text-field( placeholder="留言標題..." outlined dense hide-details v-model="newComment.title" )
    v-card-text.pl-0.pb-0
      v-tabs( vertical )
        v-tab( v-for="item in lists.slice(0,2)" :key="item.title" )
          v-icon( left ) {{ item.icon }}
          | {{ item.title }}
        v-tab-item( v-for="item in lists" :key="item.key" )
          v-expand-transition
            v-textarea.pl-4( :placeholder="item.label" outlined auto-grow v-model="newComment[`${item.key}`]" )
    v-card-actions
      v-row( no-gutters )
        v-spacer
        v-btn.mx-3( color="primary" tile depressed :disabled="newComment.title === '' || newComment.content === ''" @click="add(newComment, -1)" ) 留言
          